<!DOCTYPE html>
<html lang="ru" class="h-100" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head th:replace="fragments/head"></head>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <main class="jumbotron text-center rounded col-md-12 align-self-center pt-5">
                <div class="justify-content-center">
                    <h1>Информация о зале</h1>
                </div>
                <div class="row bg-light rounded">
                    <h2>Зал</h2>
                    <h4 th:text="'ID: ' + ${model.hall.id}"></h4>
                    <h4 th:text="'Вместимость: ' + ${model.hall.capacity}"></h4>
                    <h4 th:text="'Номер зала: ' + ${model.hall.hallNumber}"></h4>
                </div>
                <div class="mt-4">
                    <a class="btn btn-success" th:href="@{/admin/halls}">Вернуться на страницу с залами</a>
                </div>
            </main>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>